
  
    h1{
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
      }

  @media (-mt-css-extension:webkit){            
    -webkit-border-radius: 10px;        
  }         

  @media (-mt-pointing_method: touchscreen) {            
    padding: 10px;        
  } 

  @media NOT (-mt-pointing_method: touchscreen){            
    padding: 5px;        
  }

   @media all and (-mt-model_name: iPhone) {
    img{
      border: solid black 3px;
    }
  }
